<div class="">
  <ul class="tabs ps-3">
    <li class="tab">
      <a class="<%= 'active' if active == 'staff' %>" 
         target="_self"
         href="/staffs">Staff</a>
    </li>
    <li class="tab">
      <a class="<%= 'active' if active == 'closing_shifts' %>"
         target="_self"
         href="/closing_shifts">
        Closing Shifts
      </a>
    </li>
    <li class="tab">
      <a class="<%= 'active' if active == 'shifts' %>"
         target="_self"
         href="/shifts">
        Shifts
      </a>
    </li>
  </ul>
</div>