<header class="pse-4 ptb-0">
  <p class="m-0">Invoice Sequences</p>
</header>
<div id="locations-index">
  <div class="filters-row">
  </div>
  <div class="data-row ">
    <table class="sticky-table white highlight m-4">
      <thead>
      <tr>
        <th> Name </th>
        <th> next number  </th>
        <th> invoice Prefix </th>
      </tr>
      </thead>
      <tbody>
      <% @locations.map do |locations| %>
        <tr>
          <td>
            <%= link_to locations.name, edit_invoice_sequence_path(locations.id), remote: true %>
          </td>
          <td> <%= locations.next_num %> </td>
          <td> <%= locations.num_prefix %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>