<div class="salon_location">
  <td><%= link_to "#{location.name}", location_services_path(location_id: location.id) %></td>
  <h5><%= location.name %></h5>
  <h6><%= location.phone %></h6>
  <h6><%= location.area %></h6>
</div>