<header class="pse-4 ptb-0">
  <p class="m-0">Inventory</p>
</header>
<div class="tabs-container">
  <%= render "inventory/tab_headers", active: 'brands' %>
  <div id="test1" class="col s12">
    <div>
      <div class="filters-row pse-4 pt-2">
        <div class="input-field">
          <i class="material-icons prefix" style="color: #999">search</i>
          <input  id="index_search" class="width-100" placeholder="Search product brand data" type="text">
        </div>
        <div class="actions">
          <a class='dropdown-trigger btn waves-effects secondary-bg ' href='#' data-target='dropdown1'>Download</a>
          <%= link_to 'New product brand', new_inventory_product_brand_path, class: "btn waves-teal" %>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a target="_blank" href="/export/product_brands?export_type=xlsx">Excel</a></li>
            <li><a target="_blank" href="/export/product_brands?export_type=csv">CSV</a></li>
          </ul>

        </div>
      </div>
    </div>
    <div class="data-row">
      <%= render "inventory/product_brands/index" %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $("#index_search").keyup(function(){
      $.get("/inventory/product_brands.js?search=" + $(this).val());
  })
</script>