/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";
@import "materialize";
@import "basic";
.main-section{
  padding: 20px;
}
#invoice-details-wrapper {
  .line-row {
    padding: 15px 0;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    .service_price{
      position: absolute;
      right: 0;
    }
    .discounted-price{
      text-decoration: line-through;
    }
  }
}
#services-index {
  .collapsible-header,.collapsible-header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.category-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

#category-form{
  .color-container {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-left: 20px;
    border: 1px solid;
    border-radius: 50%;
    label {
      margin-left: 16px;
      margin-top: 16px;
    }
  }
}
[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  border: none;
}