@import "variables";


html, body {
  margin:0;
  height:100%;
}
header{
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 12;
  padding: 30px;
  min-height: 75px;
  p {
    font-size: 24px;
    font-weight: bolder;
  }
}

#app-container{
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr;
}
#sidebar{
  color: $white;
  background-color: $dark-blue;
  ul li{
    height: 55px;
    a{
      font-size: 16px;
      color: $white;
    }
    &:hover, &.active{
      color: $white;
      i{
        font-size: 24px;
        font-weight: bold;
        color: $dark-blue;
      }
      a{
        font-size: 16px;
        color: $dark-blue;
        &:hover{
          background: none;
        }
      }
      background: $light-pink;
    }

  }

  #logo-container{
    height: 100px;
  }
}
#content-container{
}
#client-details{
  padding: 20px;
  p {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}



$start: left;
$end: right;
@for $i from 0 through 100 {
  .m-#{$i} {
    margin: (5px * $i) !important;
  }

  .mb-#{$i} {
    margin-bottom: (5px * $i) !important;
  }

  .mt-#{$i} {
    margin-top: (5px * $i) !important;
  }

  .ms-#{$i} {
    margin-#{$start}: (5px * $i) !important;
  }

  .me-#{$i} {
    margin-#{$end}: (5px * $i) !important;
  }

  .mse-#{$i} {
    margin-#{$end}: (5px * $i) !important;
    margin-#{$start}: (5px * $i) !important;
  }

  .mtb-#{$i} {
    margin-top: (5px * $i) !important;
    margin-bottom: (5px * $i) !important;
  }

  .p-#{$i} {
    padding: (5px * $i) !important;
  }

  .pb-#{$i} {
    padding-bottom: (5px * $i) !important;
  }

  .pt-#{$i} {
    padding-top: (5px * $i) !important;
  }

  .ps-#{$i} {
    padding-#{$start}: (5px * $i) !important;
  }

  .pe-#{$i} {
    padding-#{$end}: (5px * $i) !important;
  }

  .pse-#{$i} {
    padding-#{$start}: (5px * $i) !important;
    padding-#{$end}: (5px * $i) !important;
  }

  .ptb-#{$i} {
    padding-top: (5px * $i) !important;
    padding-bottom: (5px * $i) !important;
  }
}


.main-color{
  color: $dark-blue
}

.main-bg{
  background-color: $dark-blue;
  color: $white
}
.secondary-bg{
  background-color: $dark-green;
  color: $white
}

.pink-bg{
  background-color: $light-pink;
}
.gray{
  color: $darker-gray
}

.height-100{
  height: 100%;
}

.width-100{
  width: 100%;
}
.left-border{
  border-left: 1px solid $border-color;
}

.soon{
  font-size: 10px;
  color: $dark-blue;
}

.strike{
  text-decoration: line-through;
}