@import "variables";



#app-container{
  display: grid;
  height: 100%;
  grid-template-columns: 200px 1fr;
}
#auth-container{
  .card {
    margin-top: 100px;
  }
  a {
    color: $light-blue;
    padding: 6px 12px;
    &:hover{
      background: none;
    }
  }
}
#sidebar{
  color: $white;
  background-color: $dark-blue;
  ul li{
    height: 55px;
    a{
      font-size: 16px;
      color: $white;
    }
    &:hover, &.active{
      color: $white;
      i{
        font-size: 24px;
        font-weight: bold;
        color: $dark-blue;
      }
      a{
        font-size: 16px;
        color: $dark-blue;
        &:hover{
          background: none;
        }
      }
      background: $light-pink;
    }

  }

  #logo-container{
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 20px;
  }
}
#content-container{
}

#client-details{
  padding: 20px;
  p {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}



$start: left;
$end: right;
@for $i from 0 through 100 {
  .m-#{$i} {
    margin: (5px * $i) !important;
  }

  .mb-#{$i} {
    margin-bottom: (5px * $i) !important;
  }

  .mt-#{$i} {
    margin-top: (5px * $i) !important;
  }

  .ms-#{$i} {
    margin-#{$start}: (5px * $i) !important;
  }

  .me-#{$i} {
    margin-#{$end}: (5px * $i) !important;
  }

  .mse-#{$i} {
    margin-#{$end}: (5px * $i) !important;
    margin-#{$start}: (5px * $i) !important;
  }

  .mtb-#{$i} {
    margin-top: (5px * $i) !important;
    margin-bottom: (5px * $i) !important;
  }

  .p-#{$i} {
    padding: (5px * $i) !important;
  }

  .pb-#{$i} {
    padding-bottom: (5px * $i) !important;
  }

  .pt-#{$i} {
    padding-top: (5px * $i) !important;
  }

  .ps-#{$i} {
    padding-#{$start}: (5px * $i) !important;
  }

  .pe-#{$i} {
    padding-#{$end}: (5px * $i) !important;
  }

  .pse-#{$i} {
    padding-#{$start}: (5px * $i) !important;
    padding-#{$end}: (5px * $i) !important;
  }

  .ptb-#{$i} {
    padding-top: (5px * $i) !important;
    padding-bottom: (5px * $i) !important;
  }
}

@for $i from 10 through 30 {
  .fs-#{$i} {
    font-size: (1px * $i) !important;
  }
}
.bold { font-weight: bold}
.bolder { font-weight: bolder}
.capitalize{text-transform: capitalize;}

.box-shadow{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.profile-avatar{
  display: flex;
  width: 120px;
  height: 120px;
  font-size: 3rem;
  margin: 0px auto 15px;
  background-size: cover;
  background-color: #eee;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}


.soon{
  font-size: 10px;
  color: $dark-blue;
}
.inline-block {
  display: inline-block;
}
.strike{
  text-decoration: line-through;
}

.input-field.input-outlined {
  > input, textarea{
    border: 2px solid #eaeaea;
    padding: 6px 12px;
    width: calc(100% - 2.5rem);
    float: none;
    display: block;
    border-radius: 5px;
    transition: box-shadow, border-color 0.15s;
    &:focus:not([readonly]) {
      border: 2px solid $light-blue;
      box-shadow: 0 1px 0 0px $light-blue;
    }
  }
  > label {
    left: 15px;
    display: inline-flex;
    width: auto !important;
    &.active {
      background: white;
      border-left: 4px solid white;
      border-right: 4px solid white;
      transform: translateY(-1.75rem);
      font-size: 10px;
      left: 5px;
      top: 1rem;
    }
  }
}
// general rules

html, body {
  margin:0;
  height:100%;
}
header{
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 12;
  padding: 30px;
  min-height: 75px;
  p {
    font-size: 24px;
    font-weight: bolder;
  }
}

a.btn:visited{
  color: $white;
}
ul.select-dropdown.auto,
ul.dropdown-content.auto {
  width: auto !important;
  li > a {
    white-space: nowrap;
  }
}

.main-color{
  color: $light-blue
}

.main-bg{
  background-color: $dark-blue;
  color: $white
}
.btn.secondary-bg:focus,
.btn-small.secondary-bg:focus,
.btn-large.secondary-bg:focus,
.btn-floating.secondary-bg:focus,
.secondary-bg{
  background-color: $dark-green;
  color: $white
}
.scroll-y{
  overflow-y: scroll;
}

.pink-bg{
  background-color: $light-pink;
}
.gray{
  color: $darker-gray
}

.height-100{
  height: 100%;
}

.width-100{
  width: 100%;
}
.width-30{
  width: 30%;
}
.left-border{
  border-left: 1px solid $border-color;
}