#calendar {
  margin: -80px 0px 0 0px;
  height: 90em;
  .fc-view{
    background: #fff;
  }
  .fc-view.fc-resourceTimeGridDay-view {
    overflow-x: scroll;

    table {
      width: auto;
    }
    .fc-timegrid-col, .fc-col-header-cell{
      width: 250px;
      height: 50px;
    }

  }
}
.fc-event-main{
  padding: 5px !important;
  *{
    font-size: 11px;
  }
}
.fc-toolbar-title{
  margin-top: 10px !important;
  margin-left: 0px !important;
  font-size: 18px !important;
}

.fc-timegrid-event{
  cursor: pointer;
}

.tooltiptopicevent{
  width:auto;
  height:auto;
  background:#fff;
  position:absolute;
  padding:10px 10px 10px 10px;
  line-height: 200%;
  z-index:  10;
}
