/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 #= require_tree .
 *= require_self
 */

@import "basic";
#form-container{
  display: grid;
  margin: 0;
  height:100%;
  grid-template-rows: auto 1fr;
}
.form-wrapper{
  margin: 40px;
}
.form-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 1px solid $border-color;
  .form-title{
    font-weight: bold;
    font-size: 24px;
  }
}
#checkout-page{
  margin: 0;
  #payment-types-container{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    .payment_type {
      text-align: center !important;
      font-size: 18px;
      padding: 10px;

    }
  }
  #client-details{
    cursor: pointer;
  }
  .action a{
    width: 100%;
  }
}

#appointment-details{
  .service-row{
    margin: 30px auto;
    display: flex;
    align-items: center;
    .start{
      flex-grow: 1;
    }
    .details{
      flex-grow: 15;
    }
    .price{
      flex-grow: 1;
    }
  }
  #appointment-actions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  #side-bar{
    display: grid;
    grid-template-rows:  auto 1fr auto;
    border-left: 1px solid $border-color;

  }
}
