
.time {
  .select-wrapper{
    min-width: 50px;
    width: 50px;
    display: inline-block;
  }

}
.input-field{
  display: inline-block;
}
#filters-row,
.filters-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .input-field{
    background: white;
    padding: 0 10px;
  }
  .select-wrapper{
    min-width: 200px;
  }

}
th, td {
  padding: 15px;
}
