@import "variables";
@font-face {
  font-family: 'Cairo';
  src:
          url('./../fonts/Cairo-Regular.tff') format('ttf'),
          url('./../fonts/Cairo-Bold.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src:
          url('./../fonts/Arvo-Regular.tff') format('ttf'),
          url('./../fonts/Arvo-Bold.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}

body, p, ol, ul, td {
  font-family: Arvo ;
  font-size: 16px;
  line-height: 20px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: $light-blue; }

