@import "variables";
@font-face {
  font-family: 'Cairo';
  src: font-url('assets/Cairo-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src:
          font-url('assets/Arvo-Regular.ttf') format('ttf'),
          font-url('assets/Arvo-Bold.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src:
          font-url('assets/Mulish-Regular.ttf') format('ttf'),
          font-url('assets/Mulish-Bold.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

body, p, ol, ul, td {
  font-family: Cairo, sans-serif;
  font-size: 16px;
  line-height: 20px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: $light-blue; }

