<header class="p-4">
  <p class="m-0">Calendar</p>

  <button id="new_appointment" class="btn main-bg">
    New Appointment
  </button>
</header>
<div class="main-section">
  <div id="filters-row">
    <div>
      <div class="input-field">
        
        
        <%= select_tag :location ,options_from_collection_for_select(@locations, :id, :name), {class: "select2", id: "locationSelector"} %>

      </div>
      
      <div class="input-field">
        <select id="staffSelector" class="select2">
          <option value="all" selected>All Staff</option>
          <% @staff.map do |staff| %>
            <option value="<%= staff.id %>"><%= staff.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div></div>
  </div>
  <div id='calendar' class="data-row"></div>
</div>

<%= javascript_pack_tag 'calendar-config', 'data-turbolinks-track': 'reload' %>