<header class="pse-4 ptb-0">
  <p class="m-0">Locations</p>
</header>
<div id="locations-index">
  <div class="filters-row">
  </div>
  <div class="data-row ">
    <table class="sticky-table white highlight m-4">
      <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Business Type </th>
        <th> Added </th>

      </tr>
      </thead>
      <tbody>
      <% @locations.map do |locations| %>
        <tr>
          <td>
            <%= link_to locations.name, location_path(locations.id) %>
          </td>
          <td> <%= locations.address_string %> </td>
          <td> <%= locations.business_type %> </td>
          <td> <%= locations.created_at.strftime("%b, %d  %Y ") %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>